:root {
    --primary-color: #FF7700;
    --black: #000000;
    --secondary-color: crimson;
    --gap: 3rem;
    --white-color: #ffffff;
    --light-gray-color: #eeeeee;
    --acessibility-color: #880088;
    --dark-gray-color:#2e3038;
}